.Cart_container{
    width: 90vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 4rem;
    padding: 0 1rem 3rem 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.Cart_title{
    padding: 1rem;
}